/* ---------- Reset básico e modelo de caixa ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- Estilo geral do corpo ---------- */
body {
  font-size: 1rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #f3d4ee;
  color: #1e1e1e;
  line-height: 1.6;
}

/* --------------- Header e Menu atualizado ---------------*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px 10%;
  border-bottom: 2px solid #e6e6e6;
}

.logo h1 {
  color: #333;
  font-size: 1.8rem;
}

.logo span {
  color: blueviolet;
}

.menu a {
  font-size: 18px;
  margin: 0 15px;
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.menu a:hover {
  color: blueviolet;
  border-radius: 8px;
}

/* ---------- Estrutura de conteúdo principal ---------- */
main {
  margin: 40px 10%;
}

/* ---------- Cabeçalhos ---------- */


h2 {
  color: blueviolet;
  font-size: 2em;
}



/* ---------- Classe utilitária ---------- */
.branco {
  color: white;
}

/* ----------- Footer ---------------------*/
footer {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-top: 2px solid #e6e6e6;
}

/* ======= Outras Áreas de Layout Globais ======= */
#area-logo,
#area-menu {
  padding: 10px;
}
